body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: grey
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

canvas{
    display: none
}

#presentation{
    font-size: 1.1rem;
    font-weight: bold;
}

#name{
    font-size: 1.4em;
    font-weight: 500;
    text-transform: capitalize;
}

#role{
    font-weight: 500;
}

#separator{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    width: 15%;
}

#photo{
  display:none;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: whitesmoke
}

.linkedIn-border{
    border: 5px solid var(--linkedIn-blue);
    border-radius: 3px;
}

.linkedIn-label{
    position: relative;
    bottom: -4px;
    color: white;
    font-size: 1.2rem;
    background-color: var(--linkedIn-blue);
    border-radius: 3px;
    padding: 3px 10px 0px 10px;
}

.github-border{
    border: 5px solid var(--github-black);
    border-radius: 3px;
}

.github-label{
    position: relative;
    bottom: -4px;
    color: white;
    font-size: 1.2rem;
    background-color: var(--github-black);
    border-radius: 3px;
    padding: 3px 10px 0px 10px;
}


.hide{
    display: none !important;
}

.wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.flex-col{

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.flex-col #presentation{
    color: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
    margin-bottom: 5px;
}

.flex-row{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.profile-picture, .profile-picture-default{
    height: inherit;
    width: inherit;
    border-radius: 50%;
    background-size: cover;
}

.profile-picture-default{
    background-color: var(--color-primary-light);
    font-size: 5.5rem;
}


.picture-container:hover .picture-overlay{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.picture-container{
    position: relative;
    height: 160px;
    width:  160px;
    border: 5px solid white;
    border-radius: 50%;
    cursor: pointer;
    
}

.picture-overlay{
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     height: 100%;
     width: 100%;
     border-radius: 50%;
     background-color: rgba(0, 0, 0, 0.75);
}

.picture-overlay i{
    color: white;
    font-size: 2rem;
}

.overlay-text{
    color: white;
}
 
.card{
    border: 1px solid whitesmoke;
    border-radius: 10px; 
    background-color: white;
    box-shadow: whitesmoke; 
    padding: 80px 50px 30px;
    box-shadow: 5px 5px 20px -1px rgba(0,0,0,0.3);
    height: 100%;
    margin-top: -80px

}

input{
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 4px 10px;
    text-align: center;
}

.button{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    color: white;
    background-color: var(--color-primary);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-top: 35px;
}

.button:hover{
    background-color: var(--color-primary-dark);
}

.button:active{
    transition-duration: 300ms;
    background-color: var(--color-primary-light);
}

button:active, button:focus{
    outline: none;
}

input:focus{
    outline: none;
    border-color: var(--color-primary-light);
    transition-duration: 200ms;
}




:root{
    --color-primary: #2196f3;
    --color-primary-light: #4dabf5;
    --color-primary-dark: #1769aa;
    --linkedIn-blue: #0077b5;
    --github-black: #24292e;
}